<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">

  <header class="article-header">
    <%- partial('post/title', {class_name: 'article-title'}) %>
  </header>

  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <% if (post.author){ %><div class="article-author"><%= post.author %></div><% } %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">

    <% if (post.is_children == true) { %>
      <a href="../">Upp en nivå</a>
    <% } %>

    <% if(post.toc) { %>
      <p><strong>Innehållsförteckning</strong></p>
      <%- toc(page.content, { list_number: false }) %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a class="btn btn-primary" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>

    <% if (!(post.excerpt && index)){ %>
      <%- partial('post/gallery') %>
    <% } %>

    <footer class="article-footer">
      <% if (post.contribute_url) { %>
        <em>
          Kan du bidra till innehållet på denna sida? Föreslå en förbättring av <a href="<%= post.contribute_url %>">källinformationen</a>
        </em>
       <% } %>
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">
        <i class="fa fa-share"></i> Share
      </a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">
          <i class="fa fa-comment"></i> Comments
        </a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
