<nav class="navbar navbar-inverse sbp-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if (theme.navbar_brand){ %>
        <a class="navbar-brand" href="<%- config.root %>"><%- theme.navbar_brand %></a>
      <% } %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu-navbar">
      <ul class="nav navbar-nav">
        <% for (var i in theme.menu){ %>
          <li><a class="<%= is_current(theme.menu[i]) ? 'active' : '' %>"
                 href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>

      <!--
      <ul class="nav navbar-nav navbar-right">
        <% if (theme.rss){ %>
          <li><a href="<%- theme.rss %>" title="RSS Feed"><i class="fa fa-rss"></i></a></li>
        <% } %>
      </ul>
      -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
