<div class="sbp-bg">
	<div class="container">
		<div class="row">
		    <div class="col-md-12">
		    	<div class="sbp-jumbo">
		    		<div class="sbp-inner">
				    	<h3 style="color: white">Delad glädje är dubbel glädje</h3>
				    	<p>
				    		Smart built platform är en gemensam och öppen plattform för kollaborativ utveckling och förvaltning av information
				    	</p>
				    	<p>Läs mer om <a class="sbp-anchor" href="./about">plattformen här</a></p>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>
