<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  </div>
  <%- partial('_partial/masthead') %>
  <%- body %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/inline-scripts') %>
</body>
</html>
