<div class="container">
	<div class="row">
	    <div class="col-sm-9 blog-main">
	      <%- partial('_partial/archive', {pagination: config.tag, index: true}) %>
	    </div>
	    <div class="col-sm-3 blog-sidebar">
	      <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
	    </div>
	</div>
</div>
